#Webserver
flask

#PAM authetication
python-pam

#lxml for psps server
lxml

#ahkab for the distributed.ini configuration (only needed for the demo which uses akhab). TODO remove dependency.
ahkab

#To implement the broadcast queue
pyzmq

#For bit manipulation
bitstring

